#container {
	display: grid;
	grid-template-rows: 42px auto;
	grid-template-columns: 1fr 180px 500px 308px 1fr 205px;
	gap: 10px;
}
#header {
	grid-row: 1 / 2;
	grid-column: 1 / 7;
	position: static;
	width: auto;
}
#menus {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	position: static;
}
#contents_container {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
	position: static;
}
#profile {
	grid-row: 2 / 3;
	grid-column: 4 / 5;
	position: static;
}
#side_box.people {
	grid-row: 2 / 3;
	grid-column: 6 / 7;
	position: static;
}