#container {
	display: grid;
	grid-template-rows: 42px auto;
	grid-template-columns: 1fr 180px 500px 308px 1fr 205px;
	grid-template-areas:
		'header  header  header  header  header  header'
		'  ...   menus  contents profile  ...    people';
	gap: 10px;
}
#header {
	grid-area: header;
	position: static;
	width: auto;
}
#menus {
	grid-area: menus;
	position: static;
}
#contents_container {
	grid-area: contents;
	position: static;
}
#profile {
	grid-area: profile;
	position: static;
}
#side_box.people {
	grid-area: people;
	position: static;
}